
<!--form group-->
<form [formGroup]="form">
  <!-- input buscador-->
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" #buscadorInput formControlName="buscador"  aria-label="Recipient's username" aria-describedby="basic-addon2">
    <span  class="input-group-text" id="basic-addon2">buscador</span>
  </div>
  <!--end input buscador-->
  <!-- radio button-->
  <div class="form-check form-check-inline">
    <input class="form-check-input" formControlName="categorias" type="radio" id="inlineCheckbox1" value="dead">
    <label class="form-check-label" for="inlineCheckbox1">dead</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" formControlName="categorias" type="radio" id="inlineCheckbox2" value="man">
    <label class="form-check-label" for="inlineCheckbox2">man</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" formControlName="categorias" type="radio" id="inlineCheckbox2" value="woman">
    <label class="form-check-label" for="inlineCheckbox2">woman</label>
  </div>
  <div class="form-check form-check-inline">
     <p *ngIf="mensajeDeTipoDeLista==='Public'">Estas viendo la <span class="badge text-bg-primary">Public list</span></p> 	
     <p *ngIf="mensajeDeTipoDeLista==='Private'">Estas viendo la<span class="badge text-bg-warning">Private list</span></p> 
  </div>
   <!-- end radio button-->
   
</form>
<!-- end form group-->








