
<!--title-->
<div  class="alert alert-primary col-6 " role="alert">
    editar  person
</div>
<!-- end title-->

<button type="button"  class="btn  btn-warning" routerLink="/home" >volver a home</button>


<!--form group-->
<form [formGroup]="form">
    <!-- input name-->
    <div class="mb-3 col-6">
        <label for="exampleFormControlInput1" class="form-label">name</label>
         <input type="text" class="form-control" formControlName="name" id="exampleFormControlInput1" >
         <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
            Name is required.
          </div>
        </div>
    </div>
    <!--end input name-->
    <!-- input photo-->
    <div class="mb-3 col-6">
        <label for="exampleFormControlInput2" class="form-label">photo</label>
         <input type="text" class="form-control" formControlName="photo" id="exampleFormControlInput2" >
         <div *ngIf="photo.invalid && (photo.dirty || photo.touched)" class="alert alert-danger">
            <div *ngIf="photo.errors.required">
            photo is required.
          </div>
        </div>
    </div>
    <!--end input photo-->
    <!-- input category-->
    <div class="mb-3 col-6">
     <label for="exampleFormControlInput3" class="form-label">category</label>
     <select class="form-select" aria-label="Default select example" formControlName="category" id="exampleFormControlInput3" >
      <option value="man">man</option>
      <option value="woman">woman</option>
      <option value="not-specified">not-specified</option>
    </select>
     <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">
        <div *ngIf="category.errors.required">
            category is required.
        </div>
     </div>
    </div>
    <!-- end input category-->
    <!-- input birthDay datepicker -->
    <div class="mb-3 col-6 ">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date of birthDay</mat-label>
        <input matInput [matDatepicker]="pickerOne" formControlName="birthDay">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerOne"></mat-datepicker-toggle>
        <mat-datepicker #pickerOne></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- end input bitrhDay -->
    
    <!-- checked ask if pass away-->
    <div class="mb-3 col-6 ">
      <div class="form-check">
        <input class="form-check-input"  type="checkbox" value="" formControlName="passAway" id="flexCheckIndeterminate">
        <label class="form-check-label" for="flexCheckIndeterminate">
          pass away?
        </label>
      </div>
    </div>
    <!-- finishd checked-->

    <!-- input passAway datepicker -->
    <div class="mb-3 col-6 ">
      <mat-form-field appearance="fill" *ngIf="showDatePickerOfPassAway">
        <mat-label>Choose a date of pass away</mat-label>
        <input matInput [matDatepicker]="pickerTwo" formControlName="yearPassAway">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerTwo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTwo></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- end input passAway -->
    <!-- select viewAllowed-->
    <div class="mb-3 col-6" id="exampleFormControlInput5">
      <label for="exampleFormControlInput4" class="form-label">view Allowed </label>
      <select class="form-select" aria-label="Default select example" id="exampleFormControlInput5"  formControlName="viewAllowed">
        <option value="free">free</option>
        <option *ngIf="AdminMembresia=='gold'" value="gold">gold</option>
        <option value="platino">platino</option>
      </select>
      <div *ngIf="viewAllowed.invalid && (viewAllowed.dirty || viewAllowed.touched)" class="alert alert-danger">
        <div *ngIf="viewAllowed.errors.required">
            viewAllowed is required.
        </div>
     </div>
    </div>
    <!-- end select viewAllowed-->
    
    <!-- button to create person / admin gold-->
    <div class="login-botones">
	    <button type="button" *ngIf="AdminMembresia==='gold'"  [disabled]="!form.valid" class="btn  btn-warning" (click)="editarPerson()">editar</button>
    </div>
     <!-- end button to create person / admin gold-->
</form>
 <!-- end form group-->

<!-- message success register-->
<div class="alert alert-success" *ngIf="successRegisted" role="alert">
  you have registed with success
</div>
<!-- end message success register -->
<!-- error message from the server-->
<div class="alert alert-danger" *ngIf="serverInternalError" role="alert">
  the server is not working right now, some problem are happening, try more later
 </div>
 <!-- end error message from the server-->