
<!--title-->
<div  class="alert alert-primary col-6 " role="alert">
    create person
</div>
<!-- end title-->

<!-- mensajes de saludo condicionales segun seas admin pltino o admin gold -->
<div *ngIf="AdminMembresia=='gold'" class="alert alert-warning" role="alert">
  eres admin gold, puedes crear personas para la lista free, platino y gold
</div>
<div *ngIf="AdminMembresia=='platino'" class="alert alert-info" role="alert">
  eres admin platino, puedes crear gente para las listas free y platino
</div>

<!--form group-->
<form [formGroup]="form">
    <!-- input name-->
    <div class="mb-3 col-6">
        <label for="exampleFormControlInput1" class="form-label">name</label>
         <input type="text" class="form-control" formControlName="name" id="exampleFormControlInput1" >
         <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
            Name is required.
          </div>
        </div>
    </div>
    <!--end input name-->
    <!-- input photo-->
    <div class="mb-3 col-6">
        <label for="exampleFormControlInput2" class="form-label">photo</label>
         <input type="text" class="form-control" formControlName="photo" id="exampleFormControlInput2" >
         <div *ngIf="photo.invalid && (photo.dirty || photo.touched)" class="alert alert-danger">
            <div *ngIf="photo.errors.required">
            photo is required.
          </div>
        </div>
    </div>
    <!--end input photo-->

    <!-- input birthDay datepicker -->
    <div class="mb-3 col-6 ">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date of birthDay</mat-label>
        <input matInput [matDatepicker]="pickerOne" formControlName="birthDay">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerOne"></mat-datepicker-toggle>
        <mat-datepicker #pickerOne></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- end input bitrhDay -->
    
    <!-- checked ask if pass away-->
    <div class="mb-3 col-6 ">
      <div class="form-check">
        <input class="form-check-input"  type="checkbox" value="" formControlName="passAway" id="flexCheckIndeterminate">
        <label class="form-check-label" for="flexCheckIndeterminate">
          pass away?
        </label>
      </div>
    </div>
    <!-- finishd checked-->

    <!-- input passAway datepicker -->
    <div class="mb-3 col-6 ">
      <mat-form-field appearance="fill" *ngIf="showDatePickerOfPassAway">
        <mat-label>Choose a date of pass away</mat-label>
        <input matInput [matDatepicker]="pickerTwo" formControlName="yearPassAway">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerTwo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTwo></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- end input passAway -->
   
    <div class="form-check form-check-inline">
      <input class="form-check-input" [formControl]="sexo" type="radio" id="inlineCheckbox2" value="man">
      <label class="form-check-label" for="inlineCheckbox2">man</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" [formControl]="sexo" type="radio" id="inlineCheckbox2" value="woman">
      <label class="form-check-label" for="inlineCheckbox2">woman</label>
    </div>
   
    
    
    
    
    
    
   
    <div>
       <!-- button to create person / admin platino-->
         <button type="button" *ngIf="AdminMembresia==='platino'"  [disabled]="!form.valid" class="btn btn-primary d-inline-block" (click)="createPerson()">registrate</button>
       <!-- end button to create person /admin platino-->   
          
       <!-- button to create person / admin gold-->  
         <button type="button" *ngIf="AdminMembresia==='gold'"  [disabled]="!form.valid" class="btn  btn-warning d-inline-block" (click)="createPerson()">registrate</button> 
       <!-- end button to create person / admin gold-->     
          
       <button type="button" class="btn  btn-primary d-inline-block" style="margin-left: 10px;" routerLink="/home">go home</button>   

    </div>
    
</form>
 <!-- end form group-->
 

<!-- message success register-->
<div class="alert alert-success" *ngIf="successRegisted" role="alert">
  you have registed with success
</div>
<!-- end message success register -->
<!-- error message from the server-->
<div class="alert alert-danger" *ngIf="serverInternalError" role="alert">
  the server is not working right now, some problem are happening, try more later
 </div>
 <!-- end error message from the server-->

