<p>login works!</p>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">password</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" >
</div>


<div class="login-botones">
	
	<button type="button" [routerLink]="['/login']"class="btn btn-primary">loguin</button>
	
	<button type="button" [routerLink]="['/registro']" class="btn btn-link">registrate</button>
</div>