<div  class="alert alert-primary" role="alert">
  log in
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">password</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" >
</div>


<div class="login-botones">
	<button type="button" class="btn btn-primary">loguin</button>
</div>

<div id="emailHelp" class="form-text">Don't you have an account? you can create you own account <a [routerLink]="['/regist']">here</a> </div>