<!--title-->
<div  class="alert alert-primary" role="alert">
    sign up account
</div>
<!-- end title-->

<!--form group-->
<form [formGroup]="form">
    <!-- input name-->
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">name</label>
         <input type="text" class="form-control" formControlName="name" id="exampleFormControlInput1" >
         <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
            Name is required.
          </div>
        </div>
    </div>
    <!--end input name-->
    <!-- input email-->
    <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Email address</label>
        <input type="email" class="form-control" formControlName="email"  id="exampleFormControlInput2" placeholder="name@example.com">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" >
            <div *ngIf="email.errors.required" class="alert alert-danger">
                email is required.
            </div>
            <div *ngIf="email.errors.email" class="alert alert-danger">
                has to be a email.    
            </div>
        </div>   
        <div *ngIf=" showAvailableEmailMessage" >
           <div *ngIf="emailAvailable && (email.dirty || email.touched) " >
                    <div *ngIf="emailAvailable" class="alert alert-success" >
                        email available 
                    </div>
                    <div *ngIf="emailNotAvailable" class="alert alert-danger">
                        email not available
                    </div>
            </div>
        </div>   
    </div>
     <!-- end input email-->
      <!-- input password-->
    <div class="mb-3">
     <label for="exampleFormControlInput3" class="form-label">password</label>
     <input type="password" class="form-control" formControlName="password" id="exampleFormControlInput3" >
     <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.required">
            password is required.
        </div>
     </div>
    </div>
     <!-- end input password-->
    <!-- button to regist-->
    <div class="login-botones">
	    <button type="button" [disabled]="!form.valid" class="btn btn-primary" (click)="regist()">registrate</button>
    </div>
     <!-- end button to regist-->
    <div id="emailHelp" class="form-text">Do you have already an account?then go to <a [routerLink]="['/login']">log in</a> </div>
</form>
 <!-- end form group-->
<div class="alert alert-success" *ngIf="successRegisted" role="alert">
    you have registed with success
</div>