
<div class="card" style="width: 18rem;"  *ngFor="let user of usuarios">
    <div class="card-body">
      <h5 class="card-title">{{user?.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{user.rol}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
      <a [routerLink]="['/cms/edit-users'] " 
      [queryParams]=" { name: user.name ,
                        email:user.email,
                        _id: user._id,
                        rol:user.rol} "
      class="card-link">editar</a>
                       
      <a (click)="eliminar(user._id)" class="card-link">eliminar</a>
      
     
     <!--<a href="#" class="card-link">Another link</a> --> 
    </div>
  </div>