<form [formGroup]="form">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" formControlName="email" id="exampleFormControlInput1" placeholder="name@example.com">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" >
        <div *ngIf="email.errors.required" class="alert alert-danger">
            email is required.
        </div>
        <div *ngIf="email.errors.email" class="alert alert-danger">
            has to be a email.
        </div>  
      </div> 
    </div>
  

    <!-- radio buttons para elegir el rol-->
    <div class="form-check form-check-inline">
      <input class="form-check-input" formControlName="rol" type="radio" id="inlineCheckbox2" value="free">
      <label class="form-check-label" for="inlineCheckbox2">free</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" formControlName="rol" type="radio" id="inlineCheckbox2" value="platino">
      <label class="form-check-label" for="inlineCheckbox2">platino</label>
    </div> 
    <div class="form-check form-check-inline">
      <input class="form-check-input" formControlName="rol" type="radio" id="inlineCheckbox2" value="gold">
      <label class="form-check-label" for="inlineCheckbox2">gold</label>
    </div> 
    <!-- fin radio buttons para elegir el rol-->

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">name</label>
        <input type="email" class="form-control"  formControlName="name" id="exampleFormControlInput1" >
    </div>
   
    
  
    <div class="login-botones">
      <button type="button" class="btn btn-primary" [disabled]="!form.valid"  (click)="update()">loguin</button>
    </div>
  </form>

<!-- message success update-->
<div class="alert alert-success" *ngIf="successUpdate" role="alert">
  you have update with success
</div>
<!-- end message success update -->
  <!-- error message from the server-->
<div class="alert alert-danger" *ngIf="serverInternalError" role="alert">
  the server is not working right now, some problem are happening, try more later
 </div>
 <!-- end error message from the server-->